<div class="container mt-5">
  <div class="bg-success rounded p-3">
    <h3>Create a new bookmark</h3>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.input :comment, placeholder: "Leave a comment" %>
      <%= f.association :movie, prompt: "Select a movie" %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>