<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://github.com/Kenn-0"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/kennvungan/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/kennvun"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/kennvungan"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/kennvungan/"><i class="fab fa-linkedin"></i></a>
    <a href="https://bit.ly/youtube_kenninjapan"><i class="fab fa-youtube-square"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>